In [27]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [28]:
##Load Dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProduct,HasCrCredit,IsActiveMember,EstimatedSalary,Exited
0,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,Mitchell,850,Spain,Male,43,2,125510.82,1,1,1,79084.10,0

In [29]:
##Preprocess the data
##Drop columns not required
data=data.drop(['CustomerId', 'Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProduct,HasCrCredit,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Male,43,2,125510.82,1,1,1,79084.10,0
5,645,Germany,Male,44,8,113755.78,2,1,0,149756.71,1
6,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,501,France,Male,37,10,142051.07,2,0,1,74940.50,0
9,684,France,Male,41,6,0.00,1,1,1,71725.73,0
10,528,Germany,Female,45,3,131156.30,2,1,0,93521.15,1
11,497,Spain,Male,35,5,0.00,2,0,1,127821.70,0
12,710,France,Female,48,9,154230.55,2,1,0,86542.12,1
13,590,Germany,Male,38,6,98765.43,1,1,1,65432.98,0
14,640,Spain,Female,40,7,0.00,2,1,1,84521.44,0
15,720,France,Male,34,4,120340.67,2,0,1,93210.55,0
16,455,Germany,Female,46,2,140567.22,1,1,0,110234.76,1
17,610,France,Male,36,8,0.00,1,1,1,50234.90,0
18,680,Spain,Male,39,3,132450.10,2,0,0,102345.11,1
19,770,France,Female,28,5,0.00,2,1,1,120567.88,0
20,530,Germany,Male,47,6,151230.99,2,1,0,98765.44,1
21,690,France,Female,31,9,0.00,1,0,1,76543.21,0
22,605,Spain,Male,42,1,105432.56,2,1,0,88321.65,1
23,715,France,Male,37,10,0.00,2,1,1,134567.90,0
24,480,Germany,Female,49,4,160345.77,1,1,0,115678.44,1

In [30]:
label_encode_gender = LabelEncoder()
data['Gender'] = label_encode_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumofProduct,HasCrCredit,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,1,43,2,125510.82,1,1,1,79084.10,0
5,645,Germany,1,44,8,113755.78,2,1,0,149756.71,1
6,822,France,1,50,7,0.00,2,1,1,10062.80,0
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88,1
8,501,France,1,37,10,142051.07,2,0,1,74940.50,0
9,684,France,1,41,6,0.00,1,1,1,71725.73,0
10,528,Germany,0,45,3,131156.30,2,1,0,93521.15,1
11,497,Spain,1,35,5,0.00,2,0,1,127821.70,0
12,710,France,0,48,9,154230.55,2,1,0,86542.12,1
13,590,Germany,1,38,6,98765.43,1,1,1,65432.98,0
14,640,Spain,0,40,7,0.00,2,1,1,84521.44,0
15,720,France,1,34,4,120340.67,2,0,1,93210.55,0
16,455,Germany,0,46,2,140567.22,1,1,0,110234.76,1
17,610,France,1,36,8,0.00,1,1,1,50234.90,0
18,680,Spain,1,39,3,132450.10,2,0,0,102345.11,1
19,770,France,0,28,5,0.00,2,1,1,120567.88,0
20,530,Germany,1,47,6,151230.99,2,1,0,98765.44,1
21,690,France,0,31,9,0.00,1,0,1,76543.21,0
22,605,Spain,1,42,1,105432.56,2,1,0,88321.65,1
23,715,France,1,37,10,0.00,2,1,1,134567.90,0
24,480,Germany,0,49,4,160345.77,1,1,0,115678.44,1

In [31]:
from sklearn.preprocessing import OneHotEncoder
ohe_geo = OneHotEncoder()
one_hot_geo = ohe_geo.fit_transform(data[['Geography']])
one_hot_geo

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 25 stored elements and shape (25, 3)>

In [32]:
ohe_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [33]:
geo_encoded_df = pd.DataFrame(one_hot_geo.toarray(),columns=ohe_geo.get_feature_names_out(['Geography']))
geo_encoded_df

    Geography_France  Geography_Germany  Geography_Spain
0                1.0                0.0              0.0
1                0.0                0.0              1.0
2                1.0                0.0              0.0
3                1.0                0.0              0.0
4                0.0                0.0              1.0
5                0.0                1.0              0.0
6                1.0                0.0              0.0
7                0.0                1.0              0.0
8                1.0                0.0              0.0
9                1.0                0.0              0.0
10               0.0                1.0              0.0
11               0.0                0.0              1.0
12               1.0                0.0              0.0
13               0.0                1.0              0.0
14               0.0                0.0              1.0
15               1.0                0.0              0.0
16               0.0                1.0              0.0
17               1.0                0.0              0.0
18               0.0                0.0              1.0
19               1.0                0.0              0.0
20               0.0                1.0              0.0
21               1.0                0.0              0.0
22               0.0                0.0              1.0
23               1.0                0.0              0.0
24               0.0                1.0              0.0

In [34]:
#Concat one hot encode data with original data
data = pd.concat([data.drop(['Geography'], axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumofProduct,HasCrCredit,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,1,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [35]:
##Save the encoders and scaler
with open('label_encode_gender.pkl','wb') as file:
    pickle.dump(label_encode_gender,file)

with open('ohe_geo.pkl','wb') as file:
    pickle.dump(ohe_geo,file)

In [36]:
##Divide the dataset into independent and dependent feature
X = data.drop('Exited',axis=1) 
y=data['Exited']

##Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

##Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [37]:
X_train

array([[ 0.41312245,  1.        ,  0.11383995,  0.34287269, -1.30175503,
        -1.06904497,  0.57735027,  1.        , -0.67950197,  1.1055416 ,
        -0.65465367, -0.57735027],
       [-0.4122444 ,  1.        , -0.37404555,  0.34287269,  0.25501339,
        -1.06904497,  0.57735027,  1.        , -0.89797002, -0.90453403,
         1.52752523, -0.57735027],
       [-0.25419543, -1.        ,  0.11383995, -1.5619756 ,  0.01924798,
        -1.06904497, -1.73205081,  1.        ,  0.73755377, -0.90453403,
        -0.65465367,  1.73205081],
       [-0.28053693,  1.        ,  0.27646845, -1.5619756 ,  0.36010256,
         0.26726124,  0.57735027, -1.        , -0.10333444, -0.90453403,
        -0.65465367,  1.73205081],
       [ 0.07068301,  1.        ,  0.60172546,  1.10481201,  0.49129549,
         0.26726124,  0.57735027, -1.        ,  2.02953236, -0.90453403,
         1.52752523, -0.57735027],
       [-1.18492827, -1.        ,  0.27646845,  1.10481201,  1.2148633 ,
         1.60356745,  0.57735027, -1.        ,  0.78577592,  1.1055416 ,
        -0.65465367, -0.57735027],
       [ 0.64141541, -1.        ,  1.25223946,  1.48578167,  1.12927018,
         0.26726124,  0.57735027, -1.        , -0.16511513,  1.1055416 ,
        -0.65465367, -0.57735027],
       [ 0.7292204 ,  1.        , -1.02455956, -0.41906662,  0.59508838,
         0.26726124, -1.73205081,  1.        ,  0.06639556,  1.1055416 ,
        -0.65465367, -0.57735027],
       [ 0.54482993, -1.        , -0.21141705, -1.5619756 , -1.30175503,
         0.26726124, -1.73205081, -1.        ,  0.08778426,  1.1055416 ,
        -0.65465367, -0.57735027],
       [ 1.8706852 ,  1.        ,  0.43909696, -1.18100594,  0.67658173,
        -1.06904497,  0.57735027,  1.        , -0.42403835, -0.90453403,
        -0.65465367,  1.73205081],
       [-0.93907431,  1.        ,  1.08961096,  0.34287269,  1.08199027,
         0.26726124,  0.57735027, -1.        ,  0.25924701, -0.90453403,
         1.52752523, -0.57735027],
       [-0.23663443,  1.        , -0.69930256,  1.10481201, -1.30175503,
        -1.06904497,  0.57735027,  1.        , -1.42560815,  1.1055416 ,
        -0.65465367, -0.57735027],
       [ 0.46580544, -1.        , -1.51244507,  1.48578167, -1.30175503,
        -1.06904497, -1.73205081,  1.        , -0.51225149,  1.1055416 ,
        -0.65465367, -0.57735027],
       [ 0.37800046,  1.        , -0.21141705, -0.80003628,  0.78596061,
         0.26726124, -1.73205081, -1.        ,  0.38352391, -0.90453403,
        -0.65465367,  1.73205081],
       [-1.37809924, -1.        ,  1.41486797, -0.41906662,  1.22565999,
        -1.06904497,  0.57735027, -1.        ,  0.84642274, -0.90453403,
         1.52752523, -0.57735027],
       [-2.29127108, -1.        , -1.83770207, -0.41906662,  0.51164397,
         2.93987366,  0.57735027, -1.        ,  0.97378151, -0.90453403,
         1.52752523, -0.57735027],
       [-0.95663531, -1.        ,  0.76435396, -0.80003628,  0.76556737,
         0.26726124,  0.57735027, -1.        ,  0.07717879, -0.90453403,
         1.52752523, -0.57735027],
       [ 0.02678052, -1.        , -0.04878855,  0.72384235, -1.30175503,
         0.26726124,  0.57735027,  1.        , -0.23526793, -0.90453403,
        -0.65465367,  1.73205081],
       [ 1.16824532, -1.        , -2.00033057, -0.03809697, -1.30175503,
         0.26726124,  0.57735027,  1.        ,  1.01617148,  1.1055416 ,
        -0.65465367, -0.57735027],
       [ 1.62483124,  1.        ,  1.57749647,  0.72384235, -1.30175503,
         0.26726124,  0.57735027,  1.        , -2.82027983,  1.1055416 ,
        -0.65465367, -0.57735027]])

In [38]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

In [39]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumofProduct,HasCrCredit,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,1,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
5,645,1,44,8,113755.78,2,1,0,149756.71,1,0.0,1.0,0.0
6,822,1,50,7,0.00,2,1,1,10062.80,0,1.0,0.0,0.0
7,376,0,29,4,115046.74,4,1,0,119346.88,1,0.0,1.0,0.0
8,501,1,37,10,142051.07,2,0,1,74940.50,0,1.0,0.0,0.0
9,684,1,41,6,0.00,1,1,1,71725.73,0,1.0,0.0,0.0
10,528,0,45,3,131156.30,2,1,0,93521.15,1,0.0,1.0,0.0
11,497,1,35,5,0.00,2,0,1,127821.70,0,0.0,0.0,1.0
12,710,0,48,9,154230.55,2,1,0,86542.12,1,1.0,0.0,0.0
13,590,1,38,6,98765.43,1,1,1,65432.98,0,0.0,1.0,0.0
14,640,0,40,7,0.00,2,1,1,84521.44,0,0.0,0.0,1.0
15,720,1,34,4,120340.67,2,0,1,93210.55,0,1.0,0.0,0.0
16,455,0,46,2,140567.22,1,1,0,110234.76,1,0.0,1.0,0.0
17,610,1,36,8,0.00,1,1,1,50234.90,0,1.0,0.0,0.0
18,680,1,39,3,132450.10,2,0,0,102345.11,1,0.0,0.0,1.0
19,770,0,28,5,0.00,2,1,1,120567.88,0,1.0,0.0,0.0
20,530,1,47,6,151230.99,2,1,0,98765.44,1,0.0,1.0,0.0
21,690,0,31,9,0.00,1,0,1,76543.21,0,1.0,0.0,0.0
22,605,1,42,1,105432.56,2,1,0,88321.65,1,0.0,0.0,1.0
23,715,1,37,10,0.00,2,1,1,134567.90,0,1.0,0.0,0.0
24,480,0,49,4,160345.77,1,1,0,115678.44,1,0.0,1.0,0.0

ANN Implementation

In [40]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Input
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [41]:
##Model Defination for local
# model = Sequential([
#     Dense(64, activation='relu', input_shape=(X_train.shape[1],)), ##HL1 connected with input layer
#     Dense(32, activation='relu'),##HL2
#     Dense(1,activation='sigmoid') ## output layer
# ]
# )

In [42]:
#Model definition for Cloud
model = Sequential([
    Input(shape=(X_train.shape[1],)), 
    Dense(64, activation='relu'),
    Dense(32, activation='relu'),
    Dense(1, activation='sigmoid')
])

In [43]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [44]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [45]:
##compile the model
model.compile(optimizer=opt,loss=loss,metrics=['accuracy'])

In [46]:
##Set-up the tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
log_dir= "logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir,histogram_freq=1)

In [47]:
##Set-up Early Stopping -it is when we are training the model and at every epoch loss is not descreasing then we stop training further.
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=5,restore_best_weights=True)

In [48]:
##Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
1/1 [==============================] - 2s 2s/step - loss: 0.6736 - accuracy: 0.5000 - val_loss: 0.5895 - val_accuracy: 0.8000
Epoch 2/100
1/1 [==============================] - 0s 215ms/step - loss: 0.4682 - accuracy: 0.8500 - val_loss: 0.4959 - val_accuracy: 0.8000
Epoch 3/100
1/1 [==============================] - 0s 231ms/step - loss: 0.3315 - accuracy: 0.9500 - val_loss: 0.4477 - val_accuracy: 0.8000
Epoch 4/100
1/1 [==============================] - 0s 487ms/step - loss: 0.2297 - accuracy: 1.0000 - val_loss: 0.4521 - val_accuracy: 0.8000
Epoch 5/100
1/1 [==============================] - 0s 190ms/step - loss: 0.1556 - accuracy: 1.0000 - val_loss: 0.4927 - val_accuracy: 0.8000
Epoch 6/100
1/1 [==============================] - 0s 185ms/step - loss: 0.1022 - accuracy: 1.0000 - val_loss: 0.5576 - val_accuracy: 0.8000
Epoch 7/100
1/1 [==============================] - 0s 172ms/step - loss: 0.0637 - accuracy: 1.0000 - val_loss: 0.6415 - val_accuracy: 0.8000
Epoch 8/100
1/1 [==============================] - 0s 158ms/step - loss: 0.0379 - accuracy: 1.0000 - val_loss: 0.7429 - val_accuracy: 0.8000

In [49]:
##Saving the entire model for local
# model.save('model.h5')

In [50]:
##Saving the entire model for cloud
model.save('model.keras')

In [51]:
##Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [52]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 11672), started 7 days, 0:44:37 ago. (Use '!kill 11672' to kill it.)